body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: #d0d0d0;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link2pages {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 300px;
    line-height: 3em;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 15px;
    transition: 0.3s;
    animation-name: popup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.link2pages:hover {
    background-color: white;
    color: black;
}
a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    transition: 0.2s;
}
a:hover {
    transform: scale(1.2);
}
@keyframes popup{
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
