body {
    display: grid;
    grid-template-columns: auto 1fr;
}
nav {
    top: 0;
    left: 0;
    padding: 0 10px;
    overflow-y: scroll;
    height: 100%;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    line-height: 2em;
    border-top: 1px solid black;
}
main {
    margin-left: 20px
}
.highlight {
    background: #f2f2f2;
    padding: 1px 3px;
    border-radius: 5px;
}
pre {
    background: #f2f2f2;
}
@media (max-width:640px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}