body {
    margin: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    font-size: 1.2em;
    margin: 50px 0;
}
#big-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/bg.jpg');
    position: fixed;
    top: 0;
    z-index: -1;
}
#overlay {
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
    opacity: 0.75;
}
.text-center {
    text-align: center;
}
#survey-form {
    width: 80%;
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    background-color: #2980b9;
    background-color: rgba(44, 62, 80, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.09);
}
.form-groups {
    margin-bottom: 40px;
}
input, 
select,
textarea,
button {
    font-size:1.1em;
    color: white;
    display: block;
    margin: 10px 0 25px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
input:focus {
    outline: none;
}
input::placeholder
textarea::placeholder {
    font-weight: normal;
    color: grey;
    color: rgba(255,255,255,0.3);
}
input:focus {
    border-bottom: 2px solid white;
}
option {
    color: black;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 10px 5px;
    width: auto;
    display: inline-block;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
button {
    font-weight: bold;
    border: 2px solid white;
    background-color: #27ae60;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}
button:hover {
    background-color: white;
    color: #27ae60;
    border: 2px solid #27ae60;
}

@media (max-width: 560px) {
    header {
        font-size: 0.9em;
    }
    .form-groups {
        margin-bottom: 20px;
    }
    input, 
    select,
    textarea,
    button {
        font-size: 0.9em;
    }
}