.center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.card {
    width: 90%;
    max-width: 800px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
img {
    display: block;
    width: 80%;
    max-width: 800px;
}
#tribute-info {
    width: 80%;
}
li {
    margin-top: 10px;
}
footer {
    font-weight: bold;
}