html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    margin: 0;
}
.text-center {
    text-align: center;
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #3498db;
    justify-content: center;
    line-height: 70px;
    width: 100%;
    position:fixed;
    z-index: 99;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav-link {
    font-weight: bold;
    flex-basis: 10%;
    color: white;
    transition: 0.1s;
}
.nav-link:hover {
    transform: scale(1.1);
}
section {
    width: 100%;
    height: 100vh;
}
.big-img {
    width: 100%;
    height: 100%;
    background-image: url('./assets/big-img.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
.welcome-content {
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
h1 {
    font-size: 3.5em;
}
.caption {
    color: #2980b9;
    font-size: 1.2em;
    font-weight: bold;
}
#projects {
    justify-content: center;
}
.projects-container {
    margin: 50px 0;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project-tile {
    width: 250px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.3);
    transition: 0.2s;
    cursor: pointer;
}
.project-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.project-tile:hover {
    transform: scale(1.2);
}
#profile {
    background-color: #bdc3c7;
    background: linear-gradient(35deg, #bdc3c7, #ecf0f1);
    align-items: center;
    justify-content: center;
}
#profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}
#github-logo {
    width: 50px;
}
#profile-link {
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
}
#profile-link:hover {
    transform: translateY(7px);
    color:white;
    background-color: #bdc3c7;
}

@media (max-width:1100px){
    #projects {
        height: fit-content;
    }
    .project-tile:hover {
        transform: scale(1.05);
    }
}